services:
  cli:
    build:
      context: .
      target: cli
      dockerfile: Dockerfile
    image: "laravel-container-auto-register-php-local"
    volumes:
      - ./:/opt/apps/app
      - ../laravel-package-versioning-config:/opt/apps/laravel-package-versioning-config
